<div class="before-approval">
	<div class="container">
		<div class="codecore-logo-container">
			<%= image_tag('codecore-alumni.png') %>
		</div>
		<p>You have signed up successfully but your account has not been approved by your administrator yet.</p>
		<%= link_to "Back to Homepage", root_path, class: "btn btn-default" %>
	</div>
</div>
