<h1>Welcome to CodeCore Alumni, <%= @user.full_name %>!</h1>
<br>
<p>Your account has been confirmed. Feel free to <a href="http://codecorealumni.herokuapp.com/sessions/new">sign in to your account!</a></p>
<p>Thank you for joining the CodeCore Alumni family!</p>
<br>
<p>Best regards,</p><br>
<p>CodeCore Alumni Team</p>
