<p>Hello <%=@user.full_name%>,</p>
<h4>Congratulations!</h4>
<p><%=@name.capitalize%> (<%=@email%>) has shown an interest in your profile. The message reads: </p><br>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>"<%=@message%>"</i></p><br>
<p>Regards,</p>
<p>CodeCore Alumni Team</p>
